version: "3"

services:
  devbox:
    image: devbox
    hostname: devbox
    container_name: devbox
    restart: "no"
    ports:
      - "2222:22"
    #  - "80:80"
    #  - "443:443"
    build:
      context: .
      args:
        DOCKER_USER: dev
        argssh: "true"
    #environment:
    #  TZ: Europe/Oslo
    volumes:
      - "./data/mount:/access:ro"
