version: "3"

services:
  devbox:
    image: devbox
    hostname: devbox
    container_name: devbox
    restart: "no"
    build:
      context: .
      dockerfile: Dockerfile
      args:
        DOCKER_USER: dev
    ports:
      - "80:80"
      - "443:443"
    environment:
      TZ: Europe/Oslo
      GIT_PYTHON_REFRESH: quiet
    volumes:
      - "./mount:/access:ro"
    command: "tail -f /dev/null"
